<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>App Component</h1>
      <input type="text" [(ngModel)]="name" />
      <p>{{ name }}</p>
      <hr />
      <button class="btn btn-primary" (click)="onShowDetails()">Display Details</button>
      <p *ngIf="showDetails">Secret Password = 'Goatman'</p>
      <div [ngStyle]="{backgroundColor: click >= 5 ? 'blue' : 'transparent'}" [ngClass]="{white: click >= 5}" *ngFor="let click of buttonClicks">{{ click }}</div>
    </div>
  </div>
</div>

